<form [formGroup]="addIngredientForm" (ngSubmit)="submit">
  <div class="category-dropdown">
    <label for="category">Category: </label>
    <select formControlName="categoryId" name="categorySelect">
      <option disabled selected>Select the ingredient category
      </option>

      <option *ngFor="let category of (categories$ | async)" [ngValue]="category.id">
        {{category.name}}
      </option>
    </select>
  </div>

  <div class="subcategory-dropdown">
    <label for="subcategory">Sub Category: </label>
    <select formControlName="subCategoryId" name="subCategorySelect">
      <option disabled selected>Select the ingredient subcategory
      </option>

      <option *ngFor="let subcategory of (subcategory$ | async)" [ngValue]="subcategory.id">
        {{subcategory.name}}
      </option>
    </select>
  </div>

  <div class="ingredients-dropdown">
    <label for="ingredients">Ingredients: </label>

    <select name="ingredientsSelect">
      <option disabled selected>Select an ingredient
      </option>

      <option *ngFor="let ingredient of (ingredients$ | async)" [ngValue]="ingredient">
        {{ingredient.name}}
      </option>
    </select>
  </div>

  <div class="submit-button">
    <button type="submit" name="ingredientFormSubmitButton" [disabled]="!addIngredientForm.valid">Add
      ingredient</button>
  </div>
</form>