<form [formGroup]="addIngredientForm">
  <div class="category-dropdown">
    <label for="category">Category: </label>
    <select formControlName="categoryId" name="categorySelect">
      <option [value]="" disabled>Select the ingredient category
      </option>

      <option *ngFor="let category of (categories$ | async)" [ngValue]="category.id">
        {{category.name}}
      </option>
    </select>
  </div>

  <div class="subcategory-dropdown">
    <label for="subcategory">Sub Category: </label>
    <select formControlName="subCategoryId" name="subCategorySelect">
      <option [value]="" disabled>Select the ingredient subcategory
      </option>

      <option *ngFor="let subcategory of (subcategory$ | async)" [ngValue]="subcategory.id">
        {{subcategory.name}}
      </option>
    </select>
  </div>

  <div class="ingredients-dropdown">
    <label for="ingredients">Ingredients: </label>

    <select formControlName="ingredient" name="ingredientSelect">
      <option [value]="" disabled>Select an ingredient</option>

      <option *ngFor="let ingredient of (ingredients$ | async)" [ngValue]="ingredient.id">
        {{ingredient.name}}
      </option>
    </select>
  </div>

  <div class="quantity">
    <label for="quantity">Amount: </label>
    <input type="text" formControlName="amount" name="amountInput" />
    
    <label for="unit">Unit: </label>
    <input type="text" formControlName="unit" name="unitInput" />
  </div>

  <div class="submit-button">
    <button type="submit" name="ingredientFormSubmitButton" (click)="submit()"
      [disabled]="!addIngredientForm.valid">Add
      ingredient</button>
  </div>
</form>