<div *ngIf="recipes$ | async as recipe">
  <!-- The below ingredient-list will eventually have its own component and app outlet in place -->
  <div class="ingredient-list">
    <h3>Ingredients</h3>
    <ng-container *ngFor="let ingredients of recipe.ingredients; index as i;">
      <ng-container *ngIf="(getIngredient(ingredients) | async) as ingredient">
        <ul>{{recipe.amount[i]}} {{recipe.unit[i]}} {{ ingredient.name }}</ul>
      </ng-container>
    </ng-container>
  </div>
  <!-- The below steps will eventually have its own component and app outlet in place -->
  <h3>Steps</h3>
  <ol >
    <!-- <ng-container *ngFor="let step of recipe.steps"> -->
      <li *ngFor="let step of recipe.steps">{{step}}</li>
    <!-- </ng-container> -->
  </ol>
</div>