<div *ngIf="recipe">{{recipe.id}}
  <!-- The below ingredient-list will eventually have its own component and app outlet in place -->
  <div class="ingredient-list"> 
    <h3>Ingredients</h3>
    <ng-container *ngFor="let ingredientId of recipe.ingredients; index as i;">
      <ng-container *ngIf="getIngredient(ingredientId) as ingredient">
        <li>{{recipe.amount[i]}} {{recipe.unit[i]}} {{ ingredient.name }}</li>
      </ng-container>
    </ng-container>
  </div>
  <!-- The below steps will eventually have its own component and app outlet in place -->
  <h3>Steps</h3>
  <li *ngFor="let step of recipe.steps; index as i;">{{i + 1}}. {{step}}</li>
</div>