<app-add-ingredient-form (onSubmit)="addIngredient($event)"></app-add-ingredient-form>

<div class="ingredients-list">
  <label for="ingredients">Ingredients: </label>
  <ng-container *ngFor="let recipeIngredients of (recipeIngredients$ | async)">
    <ng-container *ngIf="(getIngredient(recipeIngredients.ingredientId) | async) as ingredient">
      <ul>{{recipeIngredients.amount}} {{recipeIngredients.unit}} {{ ingredient.name }}</ul>
    </ng-container>
  </ng-container>
</div>

<div class="recipe-ingredients-list">
  <label for="recipe-ingredients">Recipe Ingredients: </label>
  <ng-container *ngFor="let recipeIngredient of (recipeIngredients$ | async)">
    <ul>{{recipeIngredient.recipeId}} {{recipeIngredient.amount}} {{recipeIngredient.unit}} {{recipeIngredient.ingredientId}}</ul>
  </ng-container>
</div>