<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Submit Ingredients</legend>

    <div class="category-dropdown">
      <label for="category">Category: </label>
      <select formControlName="categoryId" name="categorySelect">
        <option 
        value="" 
        disabled 
        selected>Select the ingredient category
      </option>

        <option *ngFor="let category of (categories$ | async)" [ngValue]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>

    <div class="subcategory-dropdown">
      <label for="subcategory">Sub Category: </label>
      <select formControlName="subCategoryId" name="subCategorySelect">
        <option 
        value="" 
        disabled 
        selected>Select the ingredient category
      </option>

        <option *ngFor="let subcategory of (subcategory$ | async)" [ngValue]="subcategory.id">
          {{subcategory.name}}
        </option>
      </select>
    </div>

    <div class="ingredient-name-text">
      <label for="ingredientName" class="form-label">Ingredient Name</label>
      <input 
        type="text"
        formControlName="name"
        class="form-control" 
        id="ingredientName" 
        name="ingredientName"
        placeholder="Add ingredient name here..."
        [class.is-invalid]="ingredientForm.get('name')?.invalid && ingredientForm.get('name')?.touched"
      >
    </div>

    <div class="submit-button">
      <button type="submit" name="formSubmitButton" [disabled]="!ingredientForm.valid">Submit</button>
    </div>

  </fieldset>
</form>

