<div>
  <form [formGroup]="ingredientForm">
    <fieldset>
      <legend>Submit Ingredients</legend>

      <label for="category">Category: </label>
      <select #categorySelect formControlName="categoryId">
        <option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
      </select>

      <!-- <label for="subCategory">Subcategory: </label>
    <select formControlName="subCategoryId" #subCategorySelect>
      <option *ngFor="let subCategory of subCategories$ | async" [value]="subCategory.id">{{subCategory.name}}</option>
    </select> -->

      <input type="text" class="form-control" id="name" formControlName="name">
      <div [hidden]="ingredientForm.valid" class="alert alert-danger">
        Name is required
      </div>
    </fieldset>
  </form>
</div>