<form [formGroup]="ingredientForm">
  <fieldset>
    <legend>Submit Ingredients</legend>

    <div class="category-dropdown">
      <label for="category">Category: </label>
      <select formControlName="categoryId" name="categorySelect">
        <option *ngFor="let category of (categories$ | async)" [ngValue]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>

    <div class="subcategory-dropdown">
      <label for="subcategory">Sub Category: </label>
      <select formControlName="subCategoryId" name="subCategorySelect">      
        <option *ngFor="let subcategory of (subcategory$ | async)" [ngValue]="subcategory.id">
          {{subcategory.name}}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="ingredientName" class="form-label">Ingredient Name</label>
      <input 
        type="text"
        formControlName="name"
        class="form-control" 
        id="ingredientName" 
        name="ingredientName"
        placeholder="Add ingredient name here..."
        [class.is-invalid]="ingredientForm.get('name')?.invalid && ingredientForm.get('name')?.touched"
      >
    </div>

  </fieldset>
</form>

